/*-----CONTACT-----*/

button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #5A5A5A;
    font: "Montserrat", sans-serif;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  .container {
    width: 90%;
    height: 90%;
    margin: 5%;
  }
  
  form {
    margin: 40px 0;
    height: 90%;
  }
  
  h1 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    color: #333;
  }
  
  .underline {
    border-bottom: solid 2px aliceblue;
    margin: -0.512em auto;
    width: 80px;
  }
  
  .icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
  }
  
  .icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
  
  .email {
      float: right;
      width: 40%;
      height: 20%;
  }
  
  input[type='text'], [type='email'], select, textarea {
      background: none;
    border: none;
      border-bottom: solid 1px aliceblue;
      color: aliceblue;
      font-size: 1.000em;
    font-weight: 200;
    letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
      height: 80%;
  }
  
  .name {
      float: left;
      width: 40%;
      height: 20%;
  }
  
  select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  .telephone {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 65%;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: aliceblue;
  }
  
  :-moz-placeholder { 
      color: aliceblue;
      opacity: 1;
  }
  
  ::-moz-placeholder {
      color: aliceblue;
      opacity: 1;
  }
  
  :-ms-input-placeholder {
      color: aliceblue;
  }


  
  #form_button {
    background: none;
    border: solid 1px aliceblue;
    border-radius: 1.5vh;
    color: aliceblue;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    outline: none;
    padding: 2% ;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  #form_button:hover {
    background: #474544;
    color: #F2F3EB;
  }
  