* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-family: 'Poppins', sans-serif;
}

body{
	margin: auto;
    background: #e7e2dd;
    background-image: url("img/stone_background.png");
    background-size: cover;

}

header {
    height: 100vh;
    width: auto;
    background-image: url("img/stone_background.png");
    background-size: cover;
}


.section {
    height: 100vh;
    width: 100vw;
    align-content: center;
    z-index: 0;
}


.navigation-bar {
    position: fixed;
    display: flex;
    opacity: 0;
    width: 100%;
    height: 5vh;
    font-size: 3vh;
    font-weight: 100;
    letter-spacing: 0.3vh;
    color: #ffffff;
    background-color: #8f8f8f;
    z-index: 10;
}

.navbar-logo-mini {
    height: 3vh;
    width: auto;
    margin-top: 1vh;
    margin-left: 2vh;
}

.navbar-item {
    z-index: 10;
    width: 28.5vh;
}

.navbar-element {
    position: fixed;
    height: 4.5vh;
    width: 30vh;
    z-index: 9;
    margin-left: 3vh;
    margin-top: 0.25vh;
    filter: blur(2px);
}

.navigation-bar .cabana {
    margin-left: 4vh;
}

.blur {
    text-shadow: 0 0 3px #f1f1f1;
}

/*-----TRIANGLE-----*/

.tribar {
    width: 50vw;
    height: 50vh;
    margin-top: 15vh;
    margin-left: 25vw;
    position: fixed;
    display: flex;
    justify-content: center;
    
    
}
.tribar-items {
    height: 100%;
    display: inline-block;
    position: absolute;
}

.flower-background {
    height: 70vh;
    margin-top: -7vh;
    margin-left: 2%;
}

.tribar-head {
    opacity: 0;
    position: fixed;
    justify-content: center;
    display: flex;
    margin-top: 22vh;
    margin-left: 3vh;
    width: 100%;
    height: 27%;
}



.tribar-head .box {
    background-color: white;
    width: 40vh;
    height: 100%;
    border-style: solid;
    border-width: 0.1px;
    border-bottom-right-radius: 1.5vh;
    border-color: black;
    margin-right: 6vh;
    box-shadow: 5px 10px 10px #888888;
}

.tribar-core {
    opacity: 0;
    position: fixed;
    justify-content: center;
    display: flex;
    margin-top: 22vh;
    margin-left: 3vh;
    width: 100%;
    height: 80%;
}



.tribar-core .box {
    width: 40vh;
    height: 100%;
    border-style: solid;
    border-width: 0.1px;
    border-bottom-right-radius: 1.5vh;
    border-color: black;
    margin-right: 6vh;
    box-shadow: 5px 10px 10px #888888;
    background-color: white;
    
}

.tribar-text {
    margin-top: -7vh;
    margin-left: 3vh;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1vh;
    font-size: 4vh;
    text-shadow: 0 0 5px #f1f1f1;
    opacity: 1;
}

.core-text {
    margin-top: -8vh;
    margin-left: 2vh;
    text-align: center;
    font-weight: 300;
    color: aliceblue;
    letter-spacing: 1vh;
    font-size: 2.5vh;
    text-shadow: 0 0 5px #f1f1f1;
    opacity: 1;
}

.box-text {
    padding-left: 1vh;
    font-size: 2.4vh;
    font-weight: 100;
    letter-spacing: 0.2vh;
    margin-top: 2.5vh;
}

.box-text-img {
    width: 90%;
    margin-left: 5%;
}

.section-sticky {
    position: sticky;
    top: 0;
    
}

.cabana-libre {
    position: fixed;
    font-weight: 100;
    font-size: 10vh;
    letter-spacing: 2vh;
    width: 100vw;
    margin-top: 70vh;
    text-align: center;
}

/*-----MEMBERS-----*/

.members {
    height: 100vh;
    width: 70%;
    margin-left: 15%;
}

.member-line1 {
    display: flex;
    width: 100%;
    height: 50%;
    padding-top: 15vh;
    text-align: center;
}

.member-line2 {
    display: flex;
    width: 100%;
    height: 50%;
    text-align: center;
    
}

.member {
    width: 50vw;
}

.member-photo {
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
}

.z-1 {
    z-index: -1;
}

.z-2 {
    z-index: -2;
}

.z-3 {
    z-index: -3;
}

.z-4 {
    z-index: -4;
}

.opacity-0 {
    opacity: 0;
}



/*-----ANIMATIONS SETTINGS-----*/

.tribar-hover {
    animation-name: hover;
    animation-duration: 2s;
}


.fade-in {
    animation-name: fade-in;
    animation-duration: 2s;
    opacity: 1;
}

.fade-in-delay {
    animation-name: fade-in-delay;
    animation-duration: 2s;
    opacity: 1;
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.5s;
    opacity: 0;
}

.roll-animation {
    animation-name: box-roll;
    animation-duration: 0.5s;
    opacity: 1;
}

.roll-core-animation {
    animation-name: box-core-roll;
    animation-duration: 2s;
    opacity: 1;
}


.rollout-animation {
    animation-name: box-rollout;
    animation-duration: 0.25s;
    opacity: 0;
}

.rollout-core-animation {
    animation-name: box-rollout;
    animation-duration: 0.1s;
    opacity: 0;
}


.delay1 {
    animation-delay: 0s;
}

/*-----ANIMATIONS-----*/

@keyframes box-roll {
  0%   {
      height: 0%;
    }

  100%   {
      height: 27%;
      opacity: 100%;
    }
}

@keyframes box-rollout {
  0%   {
      height: 27%;
      opacity: 100%;
    }

  100%   {
      height: 0%;
    }
}

@keyframes box-core-roll {
  0%   {
      height: 0%;
    }
    
    50  {
        height: 0%;
    }

  100%   {
      height: 80%;
      opacity: 100%;
    }
}

@keyframes box-core-rollout {
  0%   {
      height: 80%;
    }
    
    50  {
        height: 80%;
    }

  100%   {
      height: 0%;
      opacity: 0%;
    }
}

@keyframes fade-in {
  0%   {
      opacity: 0%;
    }

  100%   {
      opacity: 100% ;
      
    }
}

@keyframes fade-in-delay {
  0%   {
      opacity: 0%;
    }
    
    50% {
        opacity: 0%
    }

  100%   {
      opacity: 100% ;
      
    }
}

@keyframes fade-out {
  0%   {
      opacity: 100%;
    }

  100%   {
      opacity: 0% ;
      
    }
}

@keyframes hover {
  0%   {
        margin-left: 0;
        margin-Top: 0;
    }

  100%   {
      margin-left: + 173;
      margin-Top: + 100; 
    }
}


$.scrollify({
    section : "section",
    sectionName : "section-name",
    interstitialSection : "",
    easing: "easeOutExpo",
    scrollSpeed: 1100,
    offset : 0,
    scrollbars: true,
    standardScrollElements: "",
    setHeights: true,
    overflowScroll: true,
    updateHash: true,
    touchScroll:true,
    before:function() {},
    after:function() {},
    afterResize:function() {},
    afterRender:function() {}
  });
