* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {

}

body{
	margin: auto;
    background: #e7e2dd;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

header {
    height: 100vh;
    width: auto;
    scroll-snap-align: start;
    overflow: scroll;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    overflow: scroll;
}

.scroll-snap-box {
    
}

.tribar {
    width: 50vw;
    height: 50vh;
    margin-top: 25vh;
    margin-left: 25vw;
    position: fixed;
    display: flex;
    justify-content: center;
    
}
.tribar-items {
    height: 100%;
    display: inline-block;
    position: absolute;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}