:root {
    --main-bg-color: #181818;
    --mobile-width: 10000
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none; 
}

html, body {
    background-color: var(--main-bg-color);
    scrollbar-color: #990000
}

html::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
    display: none;
}

h2 {
    color: aliceblue;
    font-size: 4vh;
    margin: 4vh;
}

h3 {
    font-size: 3vh;
    font-weight: 200;
    line-height: 5vh;
    padding: 0% 5%;
}

p {
    font-size: 2vh;
    font-weight: 200;
    letter-spacing: 0.1vh;
    line-height: 3vh;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 3vh;
    font-weight: 200;
}

strong {
    font-weight: 400;
}

.landing-page {
    width: 100vw;
    height: 100vh;
    background: var(--main-bg-color);
}

.second-page {
    width: 100vw;
    height: 500vh;
    background-color: var(--main-bg-color);
}

.line-container {
    height: 100vh;
    width: 100vw;
    top: 0px;
    position: fixed;
}

.line_01 {
    position: fixed;
    top: 5%;
    border: 0;
    height: 90%;
    width: 2px;
    background-image: url("img/path.svg");
    background-size: 100% 100%;
    transform: rotate(0deg);
    z-index: 10
}

.line_02 {
    position: fixed;
    top: 5%;
    border: 0;
    height: 90%;
    width: 2px;
    transform: rotate(90deg);
    margin-top: -22%;
    right: 50%;
    background-image: url("img/path.svg");
    background-size: 100% 100%;
    z-index: 10
}

.curtain_01 {
    position: fixed;
    height: 100%;
    width: 5%;
    top: 0;
    left: 0;
    background-color:var(--main-bg-color);
    z-index: 10;
}

.curtain_02 {
    position: fixed;
    height: 100%;
    width: 5%;
    top: 0;
    right: 0;
    background-color: var(--main-bg-color);
    z-index: 10;
}

.my-name {
    position: fixed;
    display: flex;
    left: 23%;
    bottom: 53%;
    top: 30vh;
}

.my-name h1{
    font-size: 8vw;
    font-weight: 400;
    color: aliceblue;
    letter-spacing: 0px;
}

.app-container {
    display: none;
    opacity: 0;
    position: fixed;
    left: 50%;
    margin-left: -125px;
    bottom: 5%;
    width: 250px;
    height: 150px;
    background-color: rgb(200,200,200,0.1);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    
}

.app-container .app-text {
    display: flex;
    text-align: center;
    color: aliceblue;
    margin-left: 13.5%;
    height: 20%;
    width: 76%;
}

.app-container .app-text .app-icon {
    height: 50%;
    float: inline-end;
}

.app-container h3 {
    font-size: 100%;
    text-align: center;
    color: aliceblue;
    margin: 2%;
}

.app-container p {
    font-size: 70%;
    line-height: 150%;
    margin: 0 3% 0 5%;
}

.app-number {
    height: 40%;
    width: 6%;
    margin-top: 2%;
    text-align: center;
    border: 1px solid aliceblue;
    border-radius: 50%;
    font-size: 40%;
    font-weight: 300;
}



.book {
    display: none;
    position: fixed;
    top: 5%;
    width: 90%;
    height: 90%;
    margin: 0 5% 0 5%;
    background-color: rgb(255,0,0,0);
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    overflow: hidden;
}

.book h2 {
    text-align: center;
}


.book_01 {
    animation-duration: 0.5s;
}

.book_01, .book_02, .book_03, .book_04 {
    display: "none"
}

.background-rectangle {
    position: absolute;
    width: 100%;
    height: 70%;
    opacity: 0.5;
    margin-top: 5%;
    z-index: -10;
}



.scroller {
    opacity: 0;
    height: 100%;
    width: 5%;
    position: fixed;
    left: 0;
    top: 40%;
    z-index: 12;
    transition: 500ms;
}

.scroller div {
    display: block;
    height: 100%;
    text-align: center;
    cursor: default;
}
.scroller div img,
.scroller div svg {
    height: 10px;
}

.dot {
    fill: transparent;
    stroke: #eee;
    stroke-miterlimit: 10;
    stroke-width: 22px;
    opacity: 0.7;
}
.dot_01 {
    fill: #eee
}



.grid-container {
    position: absolute;
    height: 70%;
    width: 100%;
    margin-top: 5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    gap: 5% 5%;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
    
}

.grid-item {
    opacity: 0;

}

.grid-item h2{
    font-size: 50%;
    font-weight: 300;
    margin-top: 2vh;
}

.grid-item img {
    height: 50%
}

.item-box {
    height: 100%;
}



.flex-container {
    display: flex;
    width: 100%;
    height: 25vw;
    padding: 0% 10%;
    margin-top: 5vh;
}

.flex-container .one-fix {
    width: 70%;
    height: 100%;

}
.flex-container .two-fix {
    width: 30%;
    height: 100%;

}



.contact-container {
    position: fixed;
    height: 30%;
    width: 30vh;
    background-color: rgb(255,0,0,0.5);
}

.contact-grid {
    padding: 0% 5%;
    position: fixed;
    height: 70vh;
    width: 60vw;
    top: 50vh;
    left: 50%;
    margin-top: -35vh;
    margin-left: -30vw;
    display: none;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 30% 30% 30%;
    gap: 5% 0%;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
    z-index: 10;
}

.contact-grid div {
    display: table;
    height: 100%;
    text-align: center;
    color: rgb(225, 225, 225);
    width: 100%;
}

.contact-item {
    opacity: 0;
    height: 50%;
    background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(191,212,234,0) 100%);
}

.blur-me {
    filter: blur(2px);
    transition: 0.5s;
}

.message-me {
    height: 50px;
}
.hover-pointer:hover {
    cursor: pointer;
}

.contact-icon {
    height: 8vh;
    margin-bottom: 1vh;
}

.contact-cancel {
    height: 10%;
    float: right;
    margin: 3%;
}

.contact-card {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    height: 50px;
    transform: rotate3d(0, 1, 0, 0deg);
}




.message-container {
    opacity: 0;
    position: fixed;
    height: 0%;
    width: 0%;
    top: 25%;
    left: 50%;
    background-color: rgba(80, 80, 80, .7);
    border-radius: 5vh;
    z-index: 11;
    transition: 0.5s;
}

.message-show {
    opacity: 1;
    height: 50%;
    width: 60%;
    left: 20%
}

.shake {
    animation: shake 1000ms cubic-bezier(.36,.07,.19,.97) both;
    animation-fill-mode: forwards;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.fade-out {
    animation-name: fade_out;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}


@keyframes pop_up {
    0% {
        height: 50%;
        opacity: 0;
    }
    50% {
        height: 125%;
        opacity: 1;
    }
    100% {
        height: 100%;
    }
}

@keyframes pop_up_hover {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
        transform: rotate3d(0, 1, 0, 90deg);
    }
}

@keyframes fade_out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes shake {
    0% {
        opacity: 0;
    }
    10% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }

    50% {
        transform: translate3d(-4px, 0, 0);
        opacity: 1;
    }

    90% {
        transform: translate3d(-1px, 0, 0);
        opacity: 1;
        
    }
  }


.scene {
    height: 100%;
    perspective: 1000px;
}
.card {
    width: 90%;
    height: 100%;
    left: 5%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card__face--back {
    display: table;
    background: rgb(44,44,44, 0.5);
    border-radius: 30px;
    transform: rotateY( 180deg );
    width: 100%;
}

.card__face--back p {
    display: table-cell;
    vertical-align: middle;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card-cancel {
    float: left;
}


@media only all and (max-height: 800px) {
    .grid-container {
        height: 50%;
    }
    .background-rectangle {
        height: 50%;
        margin-top: 5%;
    }
    .grid-item h2 {
        font-size: 20%;
        margin: 0;
    }
}

@media only screen and (max-width: 1000px) and (orientation: portrait) {
    .book h2 {
        font-size: 5vw;
        margin: 1vw
    }
    .book h3 {
        font-size: 4vw;
        margin: 3vw;
        line-height: 5vw;
    }
    p {
        font-size: 3vw;
        line-height: 4vw;
    }

    .line_01 {
        height: 75%;
    }
    
    .grid-container {
        height: 50%;
    }
    .grid-item h2 {
        font-size: 3vw;
        margin: 0;
    }
    .grid-item:nth-child(9) {
        display: none;
    }
    .grid-container {
        height: 70%;
        margin-top: 0%;
      display: grid;
      grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20% 20% 20%;
        gap: 10% 0%;
      grid-template-areas:
        ". ."
        ". ."
        ". ."
        ". .";
    }

    .background-rectangle {
        height: 75%;
    }

    .card__face--front {
        margin-top: 3vh;
    }
    .card__face--back {
        padding: 10px;
    }

    .flex-container {
        display: block;
    }

    .flex-container .one-fix {
        height: 150%;
        width: 95%;
    }

    .flex-container .two-fix {
        margin-top: 5vh;
        height: 250%;
        width: 95%;
    }

    .contact-grid {
        display: none;
        height: 50vh;
        top: 50vh;
        width: 100vw;
        margin-left: -50vw;
        margin-top: -25vh;
        font-size: 2vh;
    }

    .contact-click a {
        font-size: 2vh;
    }

    .message-show {
        width: 90%;
        left: 5%;
    }

    .scene {
        height: 130%;
    }

    .my-name {
        top: 37vh;
    }

    @keyframes pop_up {
        0% {
            height: 70%;
            opacity: 0;
        }
        50% {
            height: 150%;
            opacity: 1;
        }
        100% {
            height: 130%;
        }
}
    
}
